doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Signal Processing 101

    link(rel='stylesheet', type='text/css', href='build/build.css')

  style.
    .hello {
      background-image: url('images/hello-tharr.gif')
    }
    
    .string-theory {
      background-image: url('images/string-theory.jpg')
    }
    
    .monome {
      background-image: url('images/monome.jpg')
    }
    
    .maxmsp {
      background-image: url('images/maxmsp.png')
    }
    
    .knoll {
      background-image: url('images/knoll.jpg')
    }
    
    .krang {
      background-image: url('images/krang.jpg')
    }

  body

    article

      section
        :markdown
          ##Would a Sample at any other rate sound as sweet?
          ### An introduction to Signal Processing
          ####With your host Myles Borins
          #### [@thealphanerd](https://twitter.com/thealphanerd)
          forwardJS 3

      section(data-bespoke-backdrop='hello')
        h1 Hello There
        
      section
        h1 My Name is Myles
        img.headroom(src='images/me.jpg' alt='itsa me!')
      
      section
        h2 I currently work at Famous Industries heading up the Famous.org project
        img.headroom(src='images/famous_logo.png' alt='Phi logo for Famous Industries')

      section(data-bespoke-backdrop='string-theory')
        h1 Believe it or not but I got into programming through art!
      
      section
        h2 String Theory
        video.headroom(max-width='640', height='480', controls='')
            source(src='images/string-theory.mp4', type='video/mp4')

      section
        h2 The Speaker Bot
        video.headroom(max-width='640', height='480', controls='')
            source(src='images/speakerbot.mp4', type='video/mp4')

      section
        h2 The Voxel Meter
        video.headroom(max-width='640', height='480', controls='')
            source(src='images/voxelmeter.mp4', type='video/mp4')


      section(data-bespoke-backdrop='monome')
        h1 It all started with a little device called the monome

      section
        h2 The monome introduced me 
        h2  to a programming language called Max / MSP
        img.headroom(src='images/maxmsp.png' alt='max/msp')
        
      section
        h2 Max / MSP allows you to access to it's entire internal API through...

      section
        h1 JavaScript

      section(data-bespoke-backdrop='knoll')
        h2 My love of Music and Technology brought me to California
        h2 to study at CCRMA
        h4 The Center for Computer Research in Music and Acoustics
        img.headroom(src='images/ccrma.jpg' alt='ccrma')

      section
        h2 While at CCRMA I had the opportunity to learn about sound.
        h3 The math behind it, the physics behind it, how we compute it,
        h3 and most interestingly...
        
      section(data-bespoke-backdrop='krang')
        h1 How our brains interpret it
        
        
      section
        h2 Thank You
        img.headroom(src='images/best-gif-evar.gif' alt='a surfing puppy' width='20%')
        h3 Myles Borins
        h4 @thealphanerd
      //- section
      //-   h2 Syntax Highlighting
      //-   h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
      //-   pre
      //-     code.language-javascript.
      //-       bespoke.from('article', [
      //-         classes(),
      //-         keys(),
      //-         touch(),
      //-         bullets('li, .bullet')
      //-       ]);

      //- section(data-bespoke-hash='named-route')
      //-   h2 Named Route
      //-   h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
      //-   p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      //- section.emphatic-text(data-bespoke-backdrop='emphatic')
//-         h2 Emphatic Slide!
//-         h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      //- section
      //-   h2.bullet Just the beginning...
      //-   br
      //-   ul
      //-     li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
      //-     li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
      //-     li Edit JavaScript in <em>'src/scripts/main.js'</em>
      //-   br
      //-   ul
      //-     li
      //-       strong Enjoy! :)
      //-       a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')